@import '../../style/colors.scss';
@import '../../style/breakpoint.scss';
@import '../../style/animations.scss';

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: map-get($colors, 'cod-gray');
}

.greeting,
.showMore {
  text-align: center;
  color: map-get($colors, 'silver');
  text-shadow: 2px 2px 0 map-get($colors, 'black');
  z-index: 1;
}

.greeting {
  font-size: 6.4rem;
  line-height: 8rem;

  @include breakpoint(tablet) {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  @include breakpoint(mobile) {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}

.name {
  font-weight: 500;
  color: map-get($colors, 'keppel');
  transition: .2s;

  &:hover {
    color: map-get($colors, 'rouge');
    transition: .4s;
  }
}

.showMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
  font-size: 2.4rem;
  text-decoration: none;

  @include breakpoint(tablet) {
    font-size: 1.8rem;
  }

  &:hover {
    & .showMoreArrow {
      @include bouncingArrowAnimation;
    }
  }
}

.showMoreArrow {
  height: 3.6rem;
  fill: map-get($colors, 'silver');
  width: 3.6rem;
  height: 3.6rem;

  @include breakpoint(tablet) {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.particles {
  position: absolute;
}
