@import '../../style/colors.scss';
@import '../../style/breakpoint.scss';

.skillBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  margin: 0 2.4rem;

  @include breakpoint(tablet) {
    margin: 1.8rem;
  }
}

.skillText {
  font-size: 1.8rem;
  line-height: 2rem;
  color: map-get($colors, 'cod-gray');
  text-shadow: 1px 1px 0 map-get($colors, 'white');
  margin-top: 1.8rem;
}
